.a{
			height:250px;
			width:800px;
			height:400px;
			background-color:ghostwhite;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/girl.jpg);
			text-align:left;
		}
		.b{
			color:skyblue;
			padding-top:70px;
			padding-left:50px;
			padding-right:50px;
			font-size:20px;

		}
		.c{
			color:skyblue;
			padding-left:50px;
			padding-right:50px;
		}
		.button{
			background-color:skyblue;
			height:30px;
			width:80px;
			color:white;
			border-radius:50px;
			border:none;
		}
		.d{
			padding-left:40px;
		}
		.div2{
			height:400px;
			width:800px;
			background-color:white;

		}
		.div3{
			height:400px;
			width:500px;
			float:left;
			width:500px;
			background-color:white;
			padding-top:10px;
		}
		.diva{
            height:200px;
			width:500px;
			background-color:white;
			padding-top:10px;
		}

		.divb{
            height:200px;
			width:500px;
			background-color:white;
			padding-top:20px;
		}
		i{
           color:skyblue;
          font-size:50px;
		}
		.div4{
			width:800px;
			height:400px;
			background-color:ghostwhite;
		}
		.div5{
			height: 350px;
			width: 250px;
			background-color:skyblue;
			float: right;
			position:relative;
			top:20px;
			right:20px;
		}
		.button2{
			background-color:skyblue;
			height:30px;
			width:80px;
			color:white;
			border-radius:50px;
			border:1px solid white;
		}
		.div6{
			width:400px;
			height:500px;
			background-color:blue;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/doctor.jpg);
		}
		.div7{
			width:400px;
			height:500px;
			background-color:skyblue;
			float:right;
		}
		.Health{
			color:white;
			font-style:italic;
		}
		.paragraph{
			font-size:15px;
		}
		.Button3{
		    background-color:skyblue;
			height:30px;
			width:80px;
			color:white;
			border-radius:50px;
			padding:10px;
			border:1px solid white;
		}
		.div8{
			width:800px;
			height:400px;
			background-color:white;
		}
		.div9{
			width:400px;
			height:400px;
			float:left;
			background-color:white;
		}
		.div10{
			width:400px;
			height:400px;
			float:right;
			background-color:blue;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/laptop.jpg);
		}
		.Consultation{
			color:skyblue;
			font-weight:bold;

		}
		.w{
			width:800px;
			height:350px;
			background-color:white;

		}
		.r{
			width:100px;
			height:100px;
			border-radius:50%;
			border:1px solid white;
			padding:10px;
			margin:50px;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/doctor.jpg);
		}
		.s{
			width:100px;
			height:100px;
			border-radius:50%;
			border:1px solid white;
			padding:10px;
			margin:50px;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/image1.jpg);
		}
		.v{
			width:100px;
			height:100px;
			border-radius:50%;
			border:1px solid white;
			padding:10px;
			margin:50px;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/image2.jpg);
		}
		.heading{
			color:black;
			font-weight:bold;
		}
		.div11{
			height:300px;
			width:800px;
		}
		.e{
			height:300px;
			width:800px;
			background-color:mintcream;
		   }
		   .g{
		   	width:100px;
			height:100px;
			border-radius:50%;
			border:1px solid white;
			padding:10px;
			margin-top:30px;
			margin-left:300px;
			float:left;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/image3.jpg);
		}
		.paragraph1{
			padding:100px;
			text-align:bottom;
			font-size:20px;

		}
		.p{
			width:800px;
			height:300px;
			background-color:blue;
			background-repeat:no-repeat;
			background-size:cover;
			background-image:url(../images/image4.jpg);
		}
		.k{
			height:400px;
			width:800px;
		}
		.j{
			height:100px;
			width:150px;
			padding-top:0px;
			padding-left:200px;	
		}
		.button4{
			background-color:skyblue;
			height:40px;
			width:100px;
			color:black;
			border-radius:50px;
			border:2px solid white;
		}
		.heading3{
			font-style:italic;
		}
		.blackdiv{
			background-color:black;
			height:200px;
			width:800px;
		}
		.para{
			color:white;
		}
		.span1{
			font-weight:bold;
			font-size:20px;
		}
		.l{
			width:100px;
			height:100px;
			margin:20px;
			float:left;
			margin-bottom:0px;
		}
		textarea{
			font-size:40px;
		}
		input{
			font-size:15px;
		}
